<!DOCTYPE html>
<html lang="hotel">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hotel Template">
    <meta name="keywords" content="Hotel, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pearl Beach Hotel</title>
    <link rel="shortcut icon" href="/img/Logo.jpg">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Taviraj:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/linearicons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/linearicons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/slide/css/style.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section other-page">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="Hotel"><img src="/img/logonb.png" alt="" style="HEIGHT: 110px; width: 110px; "></a>
                </div>
                <div style="padding-top: 30px;">
                    <div class="top-widget">
                        <div class="top-info">
                            <img src="/img/placeholder.png" alt="">
                            <span>Khu Biệt Thự Đại Phú Gia, Quy Nhơn Bình Định</span>
                        </div>
                        <div class="top-info phone-num">
                            <img src="/img/phone.png" alt="">
                            <span>0976474005</span>
                        </div>
                    </div>
                    <div class="container">
                        <nav class="main-menu mobile-menu">
                            <ul>
                                <li><a href="Hotel">Trang Chủ</a></li>
                                <li><a href="Room">Phòng</a></li>
                                <li><a href="Contact">Liên Hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>

    <!-- <div class="hero-slider">
        <div class="slider-item">
            <div class="single-slider-item set-bg" data-setbg="/img/slider-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h1 style="text-align: center; color: #ae9548; text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000;">Pearl Beach Hotel</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->


    <div class="hero-slider">
        <div class="slider-item">
            <div class="single-slider-item set-bg" data-setbg="/img/kt2.jpg">
            </div>
        </div>
    </div>

    <!-- Facilities Section Begin -->
    <div class="facilities-section spad">
        <div class="container">
            <div class="facilities-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h1>Hot Deal Khai Trương</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="facilities-img set-bg" data-setbg="/img/about5.jpg"></div>
                    </div>
                    <div class="col-lg-6 p-0 ">
                        <div class="facilities-text-warp">
                            <div class="facilities-text">
                                <!--<p>
                                     Khách sạn Pearl Beach tọa lạc khu biệt thự đại phú gia thành phố Quy Nhơn
                                     Nằm giữa trung tâm kinh tế và văn hóa của Thành Phố Quy Nhơn, Khách sạn Pearl Beach mong muốn là cánh cửa đầu tiên ở Quy Nhơn chào đón Quý khách trong nước và Quốc tế về với miền đất võ Quy Nhơn Bình Định
                                 </p>-->
                                <p>
                                    TUẦN LỄ KHAI TRƯƠNG, NGẬP TRÀN DEAL HOT tại Pearl Beach Quy Nhon Hotel
                                    <br />
                                    💥💥💥GIẢM  30% tất cả các hạng phòng
                                    <br />
                                    👉Miễn phí đón từ sân bay Phù Cát về khách sạn
                                    <br />
                                    👉Miễn phí City tour 1 buổi trong ngày
                                    <br />
                                    👉Miễn phí xe đạp tình yêu trong khuôn viên Khu đô thị Đại Phú Gia Quy Nhơn
                                    <br />
                                    👉Bữa sáng mỗi ngày tại nhà hàng
                                    <br />
                                    👉Bể bơi, phòng gym
                                    <br />
                                    👉Hội nghị, dịch vụ tiệc, gala dinner, teambuilding, event...
                                    <br />
                                    👨‍👩‍👧‍👦Áp dụng dành cho khách lưu trú từ ngày 02/04-08/04/2022
                                    <br />
                                    ⚡️Chương trình MIỄN PHÍ chỉ áp dụng từ hạng phòng Deluxe
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 order-lg-1 order-2">
                        <div class="facilities-text-warp">
                            <div class="facilities-text">
                                <p>
                                    Với chất lượng đạt chuẩn Quốc tế 3 sao,  Khách sạn Pearl Beach không chỉ đáp ứng hoàn hảo nhu cầu nghỉ ngơi của Quý khách mà còn mang đến những giây phút thư giãn giải trí tuyệt vời và để lại dư vị ấn tượng trong văn hóa ẩm thực nơi đây.
                                    Khách sạn là sự kết hợp hài hòa của phong cách mang màu sắc sang trọng, hiện đại và cổ kính bao gồm Nhà hàng, Bể Bơi, Bờ Sông và các khu vui chơi giải trí khác được quy tụ trong khu biệt thự Đại Phú Gia
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 order-lg-2 order-1">
                        <div class="facilities-img set-bg" data-setbg="/img/about6.jpg"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--
    <section class="services-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services-item">
                        <div class="services-pic-item">
                            <img src="/img/services/pool-services.jpg" alt="">
                        </div>
                        <div class="services-text">
                            <h2>Bể Bơi</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services-item">
                        <div class="services-pic-item">
                            <img src="/img/services/restaurant-services.jpg" alt="">
                        </div>
                        <div class="services-text">
                            <h2>Nhà Hàng</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services-item">
                        <div class="services-pic-item">
                            <img src="/img/services/Conference-room-services.jpg" alt="">
                        </div>
                        <div class="services-text">
                            <h2>Hội Nghị</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services-item">
                        <div class="services-pic-item">
                            <img src="/img/services/4.jpg" alt="">
                        </div>
                        <div class="services-text">
                            <h2>Tiệc Cưới</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <section class="features-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="text-align: center;">Service</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-007-swimming-pool"></i>
                        <h4>Hồ Bơi</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Nhà Hàng</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-029-wifi"></i>
                        <h4>Wi-fi</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-003-air-conditioner"></i>
                        <h4>Tổ Chức Sự Kiện</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-020-telephone"></i>
                        <h4>Điện Thoại</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-019-television"></i>
                        <h4>Smart TV</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-040-key-card"></i>
                        <h4>Smart Key</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-009-cctv"></i>
                        <h4>An Ninh 24/7</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>Bãi Đậu Xe</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="about-us-room spad" style="background: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2>
                        Gallery
                    </h2>
                </div>
            </div>

        </div>
    </div>
    <!--Slide image-->
    <section style="background: #ffffff;">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="Scriptcontent">
                    <section>
                        <div class="gallery">
                            <div class="gallery-item item-3x4">
                                <img class="thumb placeholder" src="/slide/img/1.jpg" data-src="/slide/img/1.jpg" data-image="/slide/img/1.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/2.jpg" data-src="/slide/img/2.jpg" data-image="/slide/img/2.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-3x4">
                                <img class="thumb placeholder" src="/slide/img/3.jpg" data-src="/slide/img/3.jpg" data-image="/slide/img/3.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/4.jpg" data-src="/slide/img/4.jpg" data-image="/slide/img/4.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-3x4">
                                <img class="thumb placeholder" src="/slide/img/5.jpg" data-src="/slide/img/5.jpg" data-image="/slide/img/5.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/6.jpg" data-src="/slide/img/6.jpg" data-image="/slide/img/6.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-3x4">
                                <img class="thumb placeholder" src="/slide/img/7.jpg" data-src="/slide/img/7.jpg" data-image="/slide/img/7.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/8.jpg" data-src="/slide/img/8.jpg" data-image="/slide/img/8.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-3x4">
                                <img class="thumb placeholder" src="/slide/img/9.jpg" data-src="/slide/img/9.jpg" data-image="/slide/img/9.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/10.jpg" data-src="/slide/img/10.jpg" data-image="/slide/img/10.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-3x4">
                                <img class="thumb placeholder" src="/slide/img/11.jpg" data-src="/slide/img/11.jpg" data-image="/slide/img/11.jpg" data-title="Pearl Beach Hotel">

                            </div>

                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/12.jpg" data-src="/slide/img/12.jpg" data-image="/slide/img/12.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/12.jpg" data-src="/slide/img/13.jpg" data-image="/slide/img/13.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/12.jpg" data-src="/slide/img/14.jpg" data-image="/slide/img/14.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/12.jpg" data-src="/slide/img/15.jpg" data-image="/slide/img/15.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/12.jpg" data-src="/slide/img/16.jpg" data-image="/slide/img/16.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/12.jpg" data-src="/slide/img/17.jpg" data-image="/slide/img/17.jpg" data-title="Pearl Beach Hotel">

                            </div>
                            <div class="gallery-item item-4x3">
                                <img class="thumb placeholder" src="/slide/img/12.jpg" data-src="/slide/img/18.jpg" data-image="/slide/img/18.jpg" data-title="Pearl Beach Hotel">

                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
    <div class="about-us-room spad" style="background: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2>Theo Dõi Chúng Tôi Tại <a href="https://www.facebook.com/pearlbeachhotel" target="_blank" rel="noopener noreferrer">PearlBeachHotel</a></h2>
                </div>
            </div>

        </div>
    </div>
    <!--Slide image End-->
    <section class="contact-section spad" style="background: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-left">
                        <div class="contact-information">
                            <h2>Thông Tin Liên Hệ</h2>
                            <ul>
                                <li><img src="/img/placeholder-copy.png" alt=""> <span>Khu Biệt Thự Đại Phú Gia</span></li>
                                <li><img src="/img/phone-copy.png" alt=""> <span>0976474005</span></li>
                                <li><img src="/img/envelop.png" alt=""> <span>info@pearlbeachhotel.com.vn</span></li>
                                <li><img src="/img/clock-copy.png" alt=""> <span>24/24</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <h5>Liên Hệ Đặt Phòng</h5>
                        <form action="#" id="userForm">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input id="name" type="text" placeholder="Họ Và Tên">
                                        <img src="/img/edit.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input id="email" type="email" placeholder="Email">
                                        <img src="/img/envelop-copy.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-group phone-num">
                                        <input id="phone" type="number" placeholder="Số Điện Thoại">
                                        <img src="/img/phone-copy.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="message">
                                        <p>Nội Dung</p>
                                        <div class="textarea">
                                            <textarea id="body"></textarea>
                                            <img src="/img/speech-copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" onclick="SendEmail()">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Follow Instagram Section End -->
    <!-- <div class="footer-room-pic">
        <div class="container-fluid">
            <div class="row">
                <img src="/img/room-footer-pic/room-1.jpg" alt="">
                <img src="/img/room-footer-pic/room-2.jpg" alt="">
                <img src="/img/room-footer-pic/room-3.jpg" alt="">
                <img src="/img/room-footer-pic/room-4.jpg" alt="">
            </div>
        </div>
    </div> -->
    <!-- Footer Room Pic Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-logo">
                        <a href="#"><img style="HEIGHT: 100px; width: 100px;" src="/img/logonb.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row pb-50">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Vị Trí</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-map-marker"></i>
                            <p>Khu Biệt Thự Đại Phú Gia, Quy Nhơn Bình Định</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Số Điện Thoại</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>0976474005</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Email</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-envelope"></i>
                            <p>info@pearlbeachhotel.com.vn</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Người Đại Diện</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-user"></i>
                            <p>Ông Trương Văn Hòa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
                        function SendEmail()
                        {
                            name = $( "#name" ).val();
                            email = $( "#email" ).val();
                            phoneNumber = $( "#phone" ).val();
                            body = $( "#body" ).val();
                            $.ajax({
                                type: 'get',
                                url: '@Url.Action("SendEmail", "Hotel")?name='+ name + '&email=' + email + '&phoneNumber=' + phoneNumber + '&body=' + body,
                                success: function(result) {
                                    alert('Gửi Email Thành Công');
                                },
                                error: function(jqxhr, status, exception) {
                                    alert('Gửi Email Không Thành Công');
                                }
                            });
                        }

                        $(function() {

            // slider type
            $t = "slide-show"; // opitions are fade and slide

            //variables
            $f = 100,  // fade in/out speed
            $s = 1000,  // slide transition speed (for sliding carousel)
            $d = 8000;  // duration per slide

            $n = $('.slide-show').length; //number of slides
            $w = $('.slide-show').width(); // slide width
            $c = $('.container-slide-show').width(); // container width
            $ss = $n * $w; // slideshow width


              function timer() {
                $('.timer').animate({"width":$w}, $d);
                $('.timer').animate({"width":0}, 0);
            }


          // fading function
            function fadeInOut() {
              timer();
                $i = 0;
                var setCSS = {
                    'position' : 'absolute',
                    'top' : '0',
                    'left' : '0'
                }

                $('.slide-show').css(setCSS);

                //show first item
                $('.slide-show').eq($i).show();


                setInterval(function() {
                  timer();
                    $('.slide-show').eq($i).fadeOut($f);
                    if ($i == $n - 1) {
                        $i = 0;
                    } else {
                        $i++;
                    }
                    $('.slide-show').eq($i).fadeIn($f, function() {
                        $('.timer').css({'width' : '0'});
                    });

                }, $d);

            }

            function slide() {
              timer();
                var setSlideCSS = {
                    'float' : 'left',
                    'display' : 'inline-block',
                    'width' : $c
                }
                var setSlideShowCSS = {
                    'width' : $ss // set width of slideshow container
                }
                $('.slide-show').css(setSlideCSS);
                $('.slide-show-header').css(setSlideShowCSS);


                setInterval(function() {
                    timer();
                    $('.slide-show-header').animate({"left": -$w}, $s, function(){
                        // to create infinite loop
                        $('.slide-show-header').css('left',0).append( $('.slide-show:first'));
                    });
                }, $d);

            }

            if ($t == "fade") {
                fadeInOut();

            } if ($t == "slide-show") {
                slide();

            } else {

            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="/slide/js/gallery.js"></script>
</body>

</html>